# Ignore Python backup files
*.py~

# Ignore text files
*.txt

# Ignore Word documents
*.doc
*.docx

# Ignore .env and virtual environments
.env
.venv/
venv/
ENV/

# Ignore IDE/project-specific folders (e.g., PyCharm)
.idea/

# Ignore SQLite database files
*.sqlite3
